/* 基幹部分 */

* {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  /* color: #bfb8b8; */
  /* background: url(../images/background.jpg) no-repeat; */
  background: rgb(163, 249, 192);
  /* background-size: cover; */
  /* background-color:rgb(0 68 29 / 80%); */
  /* background-blend-mode: multiply; */
  text-align: center;
  font-size: 10rem;
  /* font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif; */
}

/* 基幹部分 end */



/* header */

.header {
  padding: 5rem 0 0 0;
  /* 仮組み */
  border: 1px solid black;
}


.title {
  letter-spacing: 0.2rem;
  font-size: 180%;
  margin: 0;
  font-weight: lighter;
}

.sub-title {
  font-size: 60%;
  font-weight: lighter;
}

/* headerのメニュー */
.header-menu {
  width: 100%;
  height: auto;
  display: table;
  margin-top: 5rem;
}

.header-menu-link {
  display: table-cell;
  /* width: 100%; */
  text-align: center;
  border: 1px black solid;
}

.menu-link {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 2rem;
  font-weight: lighter;
}

/* header end */



/* main */

.main {
  padding: 3rem 0 15rem;
  /* 一時的な背景色 */
  background: rgb(91, 131, 176);
  /* border-top: 1rem solid red; */
}

.key-select {
  font-size: 3rem;
  text-align: center;
}

.select-value {
  -webkit-appearance: none;
  appearance: none;
  /* color: rgb(128, 128, 128); */
  /* color: white; */
  color: black;
  width: auto;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 1rem;
  /* background-color: transparent; */
  outline: none;
}

/* Lists.js */
.content-list {
  font-size: 5rem;
}


/* main End */



/* footer */

.footer {
  background: black;
  /* padding-top: 3rem; */
  color: white;
}


.copy {
  font-size: 1rem;
}

/* footer End */




/* カフェイン量のスタイル */

/* 多め */
.many {
  background-color: red;
  color: white;
}

/* 普通 */
.normal {
  background-color: yellow;
  color: white;
}

/* 少なめ */
.few {
  background-color: green;
  color: white;
}

/* 無し */
.none {
  background-color: blue;
  color: white;
}

/* 不明 */
.unknown {
  background-color: gray;
  color: white;
}